@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
body{
    background-image: url("https://img.freepik.com/vector-gratis/elegante-fondo-blanco-lineas-brillantes_1017-17580.jpg?size=626&ext=jpg");
    font-family: 'Slabo 27px', serif;
    margin:0px;
    text-align: center;

}
a{
    text-decoration: none;
    color: white;
    display: inline;
    background-color: #423A3A;
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: bold;
    padding-top:0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin:0px;
}
