
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
body{
    background-image: url("https://img.freepik.com/vector-gratis/elegante-fondo-blanco-lineas-brillantes_1017-17580.jpg?size=626&ext=jpg");
    font-family: 'Slabo 27px', serif;
    margin:0px;

}
div#a ul{
    list-style: decimal-leading-zero;
}

div#contenido{
    display: block;
    justify-content: right;
    flex-direction: column;
    background-image: url("https://static.vix.com/es/sites/default/files/styles/1x1/public/btg/tech.batanga.com/files/Fondos-para-paginas-web-09.jpg");
    border-top: solid;

}
img{
    display: block;
    width:auto ;
    height:25em;

}
header{
   text-align: center;
}
h1{
    display:block;
    background-image: url('espada.png');
    background-repeat: no-repeat;
    padding-top: 1.75em;
    margin-top: 0px;
    padding-bottom: 4.5em;
    text-transform: uppercase;
}
div nav div#b{
display: inline-flex;

}
div nav div#b img{
    margin:2em;

}
table{
    border-collapse: collapse;
    
}
table tr td{
    border:solid black;
    margin: 0px;
    text-align: center;
    justify-content: center;

}
table caption{
    border:solid black;
    margin: 0px;

}
ul#a{
justify-content: center;

}
ul#a li{
    display: inline;
    background-color: #423A3A;
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: bold;
    padding-top:0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin:0px;
    
}
ul#a li a{
    color:white;
    text-decoration: none;
}
ul#a li a:visited{
    color:white;
    text-decoration:none;
    
}
ul#a li:hover{
    background-color: #806969;
    color:white;
    text-decoration:none;
}
footer{
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    
    
}
footer a{
    padding:0px;
    margin: 0px;
    margin-left: 25%;

}
footer img{ 
    border-radius: 5%;
    padding: 0px;
    margin: 0px;

}
@media screen and (max-width: 1000px) {
    h1{
        display:block;
        background-image: url('espada.png');
        background-repeat: no-repeat;
        padding-top: 1.75em;
        margin-top: 0px;
        padding-bottom: 4.5em;
        text-transform: uppercase;
        text-align: right;
        

    }
    nav div#b {
        justify-content: center;
        flex-direction: column;

    }
    img{
        height: 18em ;

    }
    footer{
        justify-content: center;

    }
    footer{
        width: 250px;

    }
    table tr td img{
        height: 15em;

    }
    body{
        margin: 0px;
    }
}
